/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#running-pace-calculator-component {
    background-color: #ddd;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
#running-pace-calculator-component input[type="number"] {
    width: 100%;
}

#running-pace-calculator-component .flex {
    display: flex;
    flex-direction: row;
}
#running-pace-calculator-component .flex label {
    display: flex;
    align-items: center;
    padding: 0 .5em;
}

#running-pace-calculator-component .time {
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    padding: 1em 0;
    display: flex;
    align-content: center;
}

#running-pace-calculator-component .distance {
    border-bottom: 1px dotted #333;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#running-pace-calculator-component .distance input[type="number"] {
    width: 100px;
}
#running-pace-calculator-component .distance button {
    font-size: .7em;
    margin-top: 1em;
}

#running-pace-calculator-component .pace {
    padding-top: 1em;
    display: flex;
}
#running-pace-calculator-component .time legend,
#running-pace-calculator-component .pace legend {
    width: 100%;
    float: left;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
}

@media (min-width: 767px) {
    #running-pace-calculator-component .flex {
        flex-direction: row;
    }
    #running-pace-calculator-component .distance {
        flex-direction: row;
    }
    #running-pace-calculator-component .distance button {
        font-size: 1em;
        margin-top: 0;
    }
}